* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('bg-01.jpg');
    background-size: cover;
    /* background: linear-gradient(to bottom right, #5e35b0, #369ed9);*/
    min-height: 100vh;
}
.container {
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    border-radius: 20px;
}