* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #5e35b0, #369ed9);
    min-height: 100vh;
    padding: 20px;
}
.container {
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: auto;
    padding: 40px;
}
.wrap {
    border: 3px solid #333333;
    height: 1000px;
    border-radius: 10px;
    padding: 20px;
}
h1.title-board {
    text-align: center;
    color: #444444;
    font-size: 30px;
}
.day-container {
    margin-top: 50px;
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
    justify-content: center;
}
.day-value {
    width: 70px;
    height: 70px;
    background-color: #eeeeee;
    text-align: center;
    border-radius: 50px;
    border: 1px solid gray;
    font-size: 20px;
    padding-top: 17px;
}
.bg-green {
    background-color: chartreuse;
}