* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #5e35b0, #369ed9);
    min-height: 100vh;
}
.board-outter {
    width: 90%;
    margin: auto;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px 20px rgba(0, 0, 0, 0.2);
}
.board-inner {
    padding: 20px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
.header-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 20px;
}
.brand-logo {
    text-align: center;
}
.brand-logo img {
    width: 300px;
}
.title {
    text-align: center;
}
.title h1 {
    font-size: 40px;
    color: white; 
    line-height: 1;
}
.datetime-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}
.accident-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
/* Form style */
.form-input-accident {
    
}
.form-section {
    padding: 20px;
    border: 1px solid #eeeeee;
}
.form-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
input[type="date"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    font-size: 16px;
    text-align: center;
}
button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background: linear-gradient(to bottom, #35cd95, #11A072);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background: linear-gradient(to bottom, #3fe0a5, #17b482);
}
button:active {
    background: linear-gradient(to bottom, #17b482, #3fe0a5);
}
button.btn-danger {
    background: linear-gradient(to bottom, #FF4136, #CC332B);
}
button.btn-danger:hover {
    background: linear-gradient(to bottom, #fb4d43, #e24037);
}
button.btn-danger:active {
    background: linear-gradient(to bottom, #e24037, #fb4d43);
}
button.btn-biru {
    background: linear-gradient(to bottom, #3000F2, #10162F);
}
button.btn-biru:hover {
    background: linear-gradient(to bottom, #5e35b0, #369ed9);
}
button.btn-biru:active {
    background: linear-gradient(to bottom, #369ed9, #5e35b0);
}

.box-info {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}
.box-info h2 {
    font-size: 30px;
}
.box-info h3 {
    font-size: 20px;
}
/* Background and Color text */
.bg-yellow {
    background-color: #e7dc82;
}
.bg-black {
    background-color: #29323f;
}
.bg-green {
    background: linear-gradient(to bottom, #35cd95, #11a072);
}
.bg-red {
    background-color: #c72f39;
}
.bg-white {
    background-color: white;
}
.color-red {
    color: #c72f39;
}
.color-white {
    color: white;
}
.radius-5 {
    border-radius: 5px;
}


/* Responsive Design */
@media only screen and (max-width: 1024px) {
    .header-container {
        display: block;
    }
    .title h1 {
        font-size: 35px;
    }
    .box-info h2 {
        font-size: 25px;
    }
}
@media only screen and (max-width: 850px) {
    .datetime-container {
        grid-template-columns: 1fr 1fr;
    }
    .title h1 {
        font-size: 30px;
    }
}